{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Novo produto{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="produto">produto</label>
    <input name="produto" id="produto" value="{{ request.form['produto'] }}" required>
    <label for="preco">preco</label>
    <input name="preco" id="preco" value="{{ request.form['preco'] }}" required>

    <label for="comentario">comentario</label>
    <textarea name="comentario" id="comentario">{{ request.form['comentario'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}