{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Catálogo de Produtos"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="produto">Nome do produto</label>
    <input name="produto" id="produto"
      value="{{ request.form['produto'] or post['produto'] }}" required>
      <label for="preco">Preço</label>
    <input name="preco" id="preco"
      value="{{ request.form['preco'] or post['preco'] }}" required>
    <label for="comentario">comentario</label>
    <textarea name="comentario" id="comentario">{{ request.form['comentario'] or post['comentario'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}